body {
 background-image: url("../img/back-azul.jpg");
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
}

.btn-submit{
  background: rgb(40, 120, 69);
  color:  white;
  margin-top: 30px;
}

.home-text{
  text-align: justify;
}

.logo-web{
  width: 25%;
  height: 25%;
}

.mensajeimg{
/* color: white; */
}

.panel {
  background: none;
  border-width: 4px;
}

.panel-form{
  padding: 20px;
}
.titulo-form  h3,.titulo-serv  h3{
  text-align: center;
  margin-top: 10px;
  color: rgb(4, 6, 52);
  font-weight: bold;

}
.titulo-form,.titulo-serv {
  background-color: white;
}
 .sel-serv{
   border: 4px solid white;
   margin: 5px;
   height: 100px;
   text-align: center;

 }

 .sel-serv:hover{
   background-color: rgb(26, 136, 207);
   cursor: pointer;
 }

 .sel-serv >  h3{
   position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
 }


.margen {
  margin: 20px;
}


.eliminarCategoria{
  text-decoration: none;
  color: white;
}


.formulario{
  margin: 10px;
}

.control-label {
  color: white;
}


/*Contenido de la pagina*/
.page {
  //background-color: rgba(1, 0, 0, 0.9);
  margin-top: 20px;
}

/*para que el nav no pise el contenido*/
.alto50{
  font-family: 'Montserrat', sans-serif;
  height: 50px;
}

.navbar {
  z-index: 1;
}
.carousel-inner{
  height: 400px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      height: 50%;
      margin: auto;
}

/*Menu deslizable*/
.deslizable {
  background-color: black;
}

/*Menu deslizable letra*/
.deslizable li a {
  color: #FFF;
}

footer {
  margin: 20px;
  clear:both;
  text-align: center;
  color: white;
}

/*Nav*/
.affix {
  top: 0;
  width: 100%;
}

p {
  font-size: 14px;
}

@media (max-width: 500px) {
  .carousel-inner {
  height: 150px;
  }
}
